.jumbotron {
  padding-top: 6rem;
  background-color: #cdd9eb;
}

#project {
  background-color: #cdd9eb;
}

section {
  padding-top: 5rem;
}

.card {
  box-shadow: 0px 30px 10px -20px rgb(0, 0, 0, 0.5);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1);
  box-shadow: 0px 80px 10px -40px rgb(0, 0, 0, 0.2);
}
